# Byte-compiled / cache files
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Vector DB files (local only, not for GitHub)
career_vectordb/
vector_db_metadata.json

# Streamlit secrets (keep local)
.streamlit/secrets.toml

# System/IDE junk
.DS_Store
.streamlit/

