# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual env
.venv/
env/

# Vector DB files
career_vectordb/
vector_db_metadata.json

# Streamlit secrets (real key)
.streamlit/secrets.toml.DS_Store
career_vectordb/
career_vectordb/
.DS_Store
.streamlit/
